node_modules/
.expo/
.expo-shared/
dist/
build/
artifact/*
!artifact/.gitkeep

android/.gradle/
android/app/debug.keystore
android/app/build/
android/build/
android/keystore/
android/upload-key.properties
*.aab

native-ios/*.xcodeproj/
native-ios/*.xcworkspace/
native-ios/DerivedData/

*.log
*.ipa
